*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body{
background-image: url(../image/fondo_milu.jpg);

}
h1{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
