*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body{
background-image: url(../imagenes/fondo_milu.jpg);

}
nav{
  background-color: white;
}
h1{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
/* barra de navegacion */
nav{
  weight:100vw;
  overflow: hidden;
  padding: 0;
}
.logo img{
width: 15vw;
height: 13vh;
border-radius: 34px;
}

.banner img{
width: 100vw;
z-index: 0;
}
/* nav img{
  margin-right: 400px;
  padding-right: 5px;
  width: 270px;
  height: 144px;
} */
.iniciarsesion{
    position: relative;
    left: 12vw;
    top: 2vh;
}
.teregistras{
  position: relative;
  left: 12vw;
  top: 2vh;
<<<<<<< HEAD
}
.form-inline{
    position: relative;
    left: 13vw;
}
.ayuda{
  position: relative;
  left: 15vw;
 }
.ayuda img{
  width: 47px;
  height: auto;
}
=======
}
.form-inline{
    position: relative;
    left: 13vw;
}
.ayuda{
  position: relative;
  left: 15vw;
 }
.ayuda img{
  width: 47px;
  height: auto;
}
>>>>>>> e0013842ff728c7239d45420b7b9e0a6ab1374b4
  .misartesanias{
    position:relative;
    left: 13vw;
    top: 2vh;
  }

    .desplegableperfil{
      position: relative;
      left: 2vw;
      padding: 10px;
      z-index: 123;
    }
    .despliegue{
      position: relative;
      left: 14vw;
      z-index: 2;
    }
    .despliegue img{
      width: 41px;
      height: auto;
    }

/* fin de barra de navegacion */
.paise{
  width: 173px;
}
/* desplegable */
.desplegable{
  padding-left: 50px;
}
*menu-wrapper ul{
  padding: 0;
  list-style: none;
}
*hmenu li{
  display: inline-block;
}
*hmenu li a{
  display: block;
  padding: 10px 10px;
  margin-right: 5px;
  width: 90px;
}
li ul{
  list-style: none;
  position: absolute;
  display: none;
  background-color: white;
  color: black;
}
.sub-menu{
  display: block;
  padding: 10px 5px;
  width: 130px;
}
li:hover ul{
  display: block;

}
/* desplegable */
/* articulos */
article{
  display: flex;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-items: baseline;
}
h2{
  display: inline-block;
  width: 100%;
  padding: 30px;
  text-align: center;
}

article div img{
  width: 100%;
  height: 246px;

}

.imagenes {
  width: 26%;
  border: 2px double grey;
  padding: 8px;

}
.imagenes p{
  justify-content: flex-start;
}
/* articulos */
/* Retoques en el registro */
.loginbutton button{
  padding: 7px 9px;
}

/* footer */
.footer-conteiner{
  width: 100vw;
  height: 30vh;
  display: inline-flex;
  text-align: center;
  margin-top: 55px;
  background-color: #9e8b8b59;
  }
.caja1{
  width:25%;
  height:30vh;
  float: left;
  font-size: 12px;
  padding: 4px;
  margin-right: 6px;
}
.red-social{
   font-size: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  /*ul de caja 3*/
  .ul3{
    flex-direction: column;
  }
footer  li{
    margin: 10px;
  }
.caja2{
float: left;
  width:25%;
  height:25vh;
  list-style: none;
}
.caja3{
  width:25%;
  height:30vh;
  float: left;
font-size: 100%;
}

footer ul{
  list-style: none;
}
.cont {
    text-decoration: none;
    /* border-bottom: 2px solid #BDBDBD; */
    padding-bottom: 10px;
}

.caja4{
  width:25%;
  height:30vh;
  float: left;
}
/*footer simple para las paginas de registro e iniciar seccion*/
.footer-simple{
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  text-align: center;
  margin-top: 40px;
   bottom:10px;
   background-color: #9e8b8b59;
}
.loginfooter1{
  width: 30vw;
  float: left;
  margin-right: 25%;
  margin-left: 5%;
}
.loginfooter2{
  width: 30vw;
  float: left;
}
i{
  color: grey;
  font-size: 20px;
}

/*ul de caja A*/
.ula{
  flex-direction: column;
}
.loginfooter3{
  clear: both;
  margin-top: 18%;
}

@media (max-width:500px){
  /* index */
  .logo img{
    width: 39vw;
    height: 13vh;
    border-radius: 34px;
    position: relative;
    right: 13vw;
  }
  h1{
    text-align: center;
  }
  h2{
    text-align: left;
  }
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}
.imagenes{
margin-top: 10vh;
width: 100vw;
height: auto;
}
section{
  justify-content: center;
}
<<<<<<< HEAD
/* index */

/* Registro */

.contenedor{
width: 100 vw;

}
=======
>>>>>>> 3e28a5d4024f4f1d4c8721ca2f0cf235a068362e



}
