*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body{
background-image: url(../imagenes/fondo_milu.jpg);
}
ul li{
  list-style: none;
}
/*Aca empiezan los estilos para la seccion de preguntas frecuentes*/
/*tambien incluye la seccion y los articulos del centro de ayuda*/
.contenedor{
  width: 100%;
  text-align: center;
}
.prod{
  background-color: rgba(207, 57, 160, 0.2);
  width: 90%;
  margin-top: 50px;
}
.prod ul li {
  font-weight: bold;
}
.Contenedorcentro{
background-color: rgba(150, 57, 160, 0.1);
width: 90%;
}
.centro{
  width: 100%;
  margin-top: 50px;
}

/* Aca empiezan los estilos para la seccion del centro de ayuda para movil */
#menu li{ line-height:180%;}
#menu li a{color:#222; text-decoration:none;}
#menu li a:before{ content:"\025b8"; color:#ddd; margin-right:4px;}
#menu input[name="list"] {
	position: absolute;
	left: -1000em;
	}
#menu label:before{ content:"\025b8"; margin-right:4px;}
#menu input:checked ~ label:before{ content:"\025be";}
#menu .interior{display: none;}
#menu input:checked ~ ul{display:block;
}
/*para pantallas grandes*/
@media only screen and (min-width: 768px) {
  .contenedor {
  display: flex;
  flex-direction:row;
  align-items:center;
  margin-top: 10px;
  }
  .prod{
    width: 70%;
    border: solid rgba(250, 99, 250, 0.1) 2px;
    background-color: rgba(207, 57, 160, 0.2);
    margin: 10px auto;
  }
  .Contenedorcentro{
    width: 17%;
    background-color: rgba(150, 57, 160, 0.1);
    border: solid rgba(250, 99, 250, 0.1) 2px;
    margin-block-end: auto;
  }
  .centro{
    width: 94%;
    margin: 10px auto;
    text-align: center;

  }
  /* Aca empiezan los stilos del footer */
  .footer-simple{
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    text-align: center;
    margin-top: 40px;
     bottom:10px;
     background-color: #9e8b8b59;
  }
  .loginfooter1{
    width: 30vw;
    float: left;
    margin-right: 25%;
    margin-left: 5%;
  }
  .loginfooter2{
    width: 30vw;
    float: left;
  }
  i{
    color: grey;
    font-size: 20px;
  }

  /*ul de caja A*/
  .ul a{
    flex-direction: column;
  }
  .loginfooter3{
    clear: both;
    margin-top: 18%;
  }

  }
