*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body{
background-image: url(../imagenes/fondo_milu.jpg);

}
h1{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
.logo img{
width: 15vw;
height: 13vh;
border-radius: 34px;
}

.banner img{
width: 100vw;

}
nav img{
  margin-right: 400px;
  padding-right: 5px;
  width: 270px;
  height: 144px;
}
.paise{
  width: 173px;
}
.nombredeusuario{
  color: red;
}
/* menu desplegable */
.desplegable{
  padding-left: 50px;
}
*menu-wrapper ul{
  padding: 0;
  list-style: none;
}
*hmenu li{
  display: inline-block;
}
*hmenu li a{
  display: block;
  padding: 10px 10px;
  margin-right: 5px;
  width: 90px;
}
li ul{
  list-style: none;
  position: absolute;
  display: none;
  background-color: white;
  color: black;
}
.sub-menu{
  display: block;
  padding: 10px 5px;
  width: 130px;
}
li:hover ul{
  display: block;
}
/* menu desplegable */
@media query {

}


/* footer */
.footer-conteiner{
  width: 100vw;
  height: 30vh;
  display: inline-flex;
  text-align: center;
  }
.caja1{
  width:25%;
  height:30vh;
  float: left;
  font-size: 12px;
  padding: 4px;
  margin-right: 6px;
}
.red-social{
   font-size: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
footer  li{
    margin: 10px;
  }
.caja2{
float: left;
  width:25%;
  height:25vh;
  list-style: none;
}
.caja3{
  width:25%;
  height:30vh;
  float: left;
font-size: 100%;
}
footer ul{
  list-style: none;
}
.cont {
    text-decoration: none;
    /* border-bottom: 2px solid #BDBDBD; */
    padding-bottom: 10px;
}

.caja4{
  width:25%;
  height:30vh;
  float: left;
}
/*footer simple para las paginas de registro e iniciar seccion*/
.footer-simple{
  width: 100vw;
  height: 23vh;
  display: inline-flex;
  text-align: center;
}

.copy{
  clear: both;
}
