*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body{
background-image: url(../imagenes/fondo_milu.jpg);
}
section{
display: flex;
flex-direction:row-reverse;
align-items:center;
}
.preguntas{
  text-align: center;
  width: 70%;
  border: solid black 1px;
  margin-top: 50px;
  background-color: rgba(207, 57, 160, 0.1);
}
.Centro{
  width: 20%;
  margin-bottom: 500px;
  background-color: rgba(207, 57, 160, 0.1);
}
.contenedorcentro{
  width: 94%;
}
ul li{
  list-style: none;
}
.footer-simple{
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  text-align: center;
  margin-top: 40px;
   bottom:10px;
   background-color: #9e8b8b59;
}
.loginfooter1{
  width: 30vw;
  float: left;
  margin-right: 25%;
  margin-left: 5%;
}
.loginfooter2{
  width: 30vw;
  float: left;
}
i{
  color: grey;
  font-size: 20px;
}

/*ul de caja A*/
.ula{
  flex-direction: column;
}
.loginfooter3{
  clear: both;
  margin-top: 18%;
}
